baseURL: "https://repomic.github.io"
languageCode: en-us
title: Repomic
theme: PaperMod

pagination:
  pagerSize: 10

enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false

minify:
  disableXML: true
  minifyOutput: true

params:
  env: production
  title: Repomic
  description: "Repomic"
  keywords: [Blog, Portfolio, PaperMod]
  author: Repomic
  DateFormat: "January 2, 2006"
  defaultTheme: auto
  disableThemeToggle: false

  TocOpen: true

  ShowReadingTime: true
  ShowShareButtons: true
  ShowPostNavLinks: true
  ShowBreadCrumbs: true
  ShowCodeCopyButtons: false
  ShowWordCount: true
  ShowRssButtonInSectionTermList: true
  UseHugoToc: true
  disableSpecial1stPost: false
  disableScrollToTop: false
  comments: true
  hidemeta: false
  hideSummary: false
  showtoc: false
  tocopen: false
